<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HomePage</title>

    <link href="Stylesheet.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>

<body>
    <%include partials/header.ejs %>
    <%include partials/user-navigation.ejs %>
    <div id="main-wrap">
        <div id="navbar">
            <%include partials/site-navigation.ejs %>
        </div>
        <div id="content-wrap">
            <div class="content">
                <div>
                  <p> We show you where you can legally watch movies and TV shows that you love. You are kept up to date
                    with what is new on Netflix, Amazon Prime, iTunes and many other streaming platforms. Our simple
                    filter system allows you to see only what is important to you.</p> 

                <p>  We also tell you where and when to watch movies on the big screen so you never miss when a movie is
                    running in cinema again.</p> 
                </div>
            </div>

        </div>
    </div>



    <%include partials/footer.ejs %>
</body>

</html>