<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HomePage</title>

    <link href="Stylesheet.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

</head>

<body>
    <%include partials/header.ejs %>
    <%include partials/user-navigation.ejs %>
    <div id="main-wrap">
        <div id="navbar">
            <%include partials/site-navigation.ejs %>
        </div>
        <div id="content-wrap">
            <div class="content">
                <div>
                    <h1>Contact</h1>


                    <div>
                        THANKS FOR WATCHING US! LET'S GET YOUR QUESTION ANSWERED
                        <div class="row-centered">
                            <a class="btn page__about-us--button col-centered" href="mailto:info@onlinemovies.com">Write
                                to info@onlinemovies.com</a>
                        </div>
                    </div>
                    </div>
                    
                </div>

            </div>
        </div>



        <%include partials/footer.ejs %>
</body>

</html>