<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Movie List</title>
    <link rel="stylesheet" type="text/css"  href='/Stylesheet.css'/>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <%include partials/header.ejs %>
    <%include partials/user-navigation.ejs %>
    <div id="main-wrap">
        <div id="navbar">
            <%include partials/site-navigation.ejs %>
        </div>
        <div id="content-wrap">
            <div class="content">
            <p>Error...Page not Found</p>
            <p>Try again with correct URL</p>
    </div>
</div>
</div>

    <%include partials/footer.ejs %>
</body>

</html>